<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Volgend bericht</a>
    {{/if}}
    <span class="page-number">Pagina {{page}} van {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Vorig bericht &rarr;</a>
    {{/if}}
</nav>